<div id="wrapper">

  <%= image_tag 'ludo_studio_logo.png', alt: 'Ludo Studio', class: 'ludo-studio-logo' %>
  <%= image_tag 'operating_brands.png', alt: 'Operating Brands', class: 'operating-brands' %>
  <%= link_to image_tag('retail_centred_logo.png', alt: 'Retail Centred', class: 'retail-centred-logo'), 'http://www.retailcentred.co.uk/', target: '_blank' %>
  <%#= link_to image_tag('optimised_logo.png', alt: 'Optimised', class: 'optimised-logo'), 'http://www.optimised.today/', target: '_blank' %>
  <%= link_to image_tag('optimised-law-logo.jpg', alt: 'Optimised Law', class: 'logo'), 'http://www.optimisedlaw.co.uk/', target: '_blank' %>
  <%= link_to image_tag('my-office-branding.jpg', alt: 'My Office Branding', class: 'logo'), 'http://www.myofficebranding.co.uk/', target: '_blank' %>
  <%= link_to image_tag('my-vehicle-wrap.jpg', alt: 'My Vehicle Wrap', class: 'my-vehicle-wrap logo'), 'http://myvehiclewrap.co.uk/', target: '_blank' %>
  <%= link_to image_tag('envisage_logo.png', alt: 'Envisage Print', class: 'envisage-print-logo'), 'http://www.envisageprint.co.uk/', target: '_blank' %>
  <%#= link_to image_tag('kuhu_logo.png', alt: 'Kuhu', class: 'kuhu-logo'), 'http://www.kuhu.co.uk/', target: '_blank' %>
  <%#= link_to image_tag('eskimosoup_logo.png', alt: 'eskimosoup', class: 'eskimosoup-logo'), 'http://www.eskimosoup.co.uk', target: '_blank' %>

  <p>
    eskimosoup, Retail Centred and Optimised are trading names of Ludo Studio Ltd.<br/>
    Ludo Studio Ltd is registered under company registration number 06447854 at<br/>
    156 High Street, Hull, HU1 1NQ.<br/>
    VAT: 932110570
  </p>

</div>
