<head>
  <meta name="description" content="<%= @meta_description %>" />
  <meta name="keywords"    content="<%= @meta_tags %>" />
  <title><%= @title %></title>

  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
